                 h1 {
            margin-top: 20px;
        }

        main {
            min-height: calc(100vh - 34px);
        }

        .gauge-wrapper {
            display: inline-block;
            width: auto;
            margin: 0 auto;
            padding: 20px 15px 15px;
        }

        .gauge {
            background: #e7e7e7;
            box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
            width: 200px;
            height: 100px;
            border-radius: 100px 100px 0 0 !important;
            position: relative;
            overflow: hidden;
        }

        .gauge-center {
            content: '';
            color: #fff;
            width: 60%;
            height: 60%;
            background: #15222E;
            border-radius: 100px 100px 0 0 !important;
            position: absolute;
            box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
            right: 21%;
            bottom: 0;
            z-index: 10;
        }

        .gauge-center .label, .gauge-center .number {
            display: block;
            width: 100%;
            text-align: center;
            border: 0 !important;
        }

        .gauge-center .label {
            font-size: 0.75em;
            opacity: 0.6;
            margin: 1.1em 0 0.3em 0;
        }

        .gauge-center .number {
            font-size: 1.2em;
        }

        .needle {
            width: 80px;
            height: 7px;
            background: #15222E;
            border-radius: 100% 5px 5px 100%;
            position: absolute;
            bottom: -2px;
            left: 20px;
            transform-origin: 100% 4px;
            transform: rotate(0deg);
            box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
            z-index: 9;
        }

        .slice-colors {
            height: 100%;
        }

        .slice-colors .st {
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border: 50px solid transparent;
        }

        .four .slice-colors .st.slice-item:nth-child(2) {
            border-top: 50px #f1c40f solid;
            border-right: 50px #f1c40f solid;
            background-color: #1eaa59;
        }

        .four .slice-colors .st.slice-item:nth-child(4) {
            left: 50%;
            border-bottom: 50px #E84C3D solid;
            border-right: 50px #E84C3D solid;
            background-color: #e67e22;
        }

        .persona {
            display: flex;
            flex-direction: column;
            position: relative
        }

        .persona .height, .persona .age, .persona .medal {
            position: absolute;
            width: 100%;
            display: flex;
        }

        .persona .medal {
            width: 70px !important;
            flex-direction: column;
            height: 100px;
            top: 15%;
            text-align: center;
        }

        .persona .medal img {
            width: 50px !important;
        }

        .persona .gold-medal {
            left: 0 !important;
        }

        .persona .silver-medal {
            left: 10% !important;
        }

        .persona .bronze-medal {
            left: 20% !important;
        }

        .persona .height {
            bottom: 0;
            width: 50%;
            left: 30%;
        }

        .persona .age {
            top: 10%;
        }

        .persona .height hr {
            color: red;
            flex: 1;
            height: 3px;
            margin-right: 10px;
        }

        .persona h2 {
            margin: auto auto 30px;
        }

        .persona img {
            height: 300px;
            margin: auto;
        }

        .persona#Man img {
            width: 100px;
        }